{
  "connection": {
    "host": "localhost"
  },

  "file_server": {
    "host": "localhost"
  },

  "job": {
    "sync": {
      "exclude": [
        ".git",
        ".rvmrc",
        "tmp",
        "log",
        "doc"
      ],

      "rsync_transport": "ssh" // or "anonymous"
    },

    "callbacks": {
        "callbacks_class_file": "test/gorgon_callbacks.rb"
    }
  },

  "files": [
      "test/unit/**/*_test.rb",
      "test/functional/**/*_test.rb",
      "test/integration/**/*_test.rb"
  ],
  "runtime_file": "gorgon-runtime-file.json",
  "failed_files": "tmp/gorgon-failed-files.json"
  "originator_log_file": "log/gorgon-orginator.log"
}
