{
  "connection": {
    "host": "localhost"
  },

  "job": {
    "sync_exclude": [
        "tmp",
        "log",
        "doc",
        ".git",
        ".rvmrc"
    ],
    "callbacks": {
        "before_start": "test/gorgon_callbacks/before_start_callback.rb",
        "after_complete": "test/gorgon_callbacks/after_complete.rb",
        "before_creating_workers": "test/gorgon_callbacks/before_creating_workers.rb",
        "after_sync": "test/gorgon_callbacks/after_sync.rb"
    }
  },

  "files": [
      "test/integration/**/*_test.rb",
      "test/functional/**/*_test.rb",
      "test/unit/**/*_test.rb"
  ],

  "originator_log_file": "log/gorgon-orginator.log"
}
