{
  "connection": {
    "host": "localhost"
  },
  "failed_files": "tmp/gorgon-failed-files.json",
  "file_server": {
    "host": "localhost"
  },
  "files": [
      "test/unit/**/*_test.rb",
      "test/functional/**/*_test.rb",
      "test/integration/**/*_test.rb"
  ],
  "job": {
    "callbacks": {
        "callbacks_class_file": "test/gorgon_callbacks.rb"
    }
    "sync": {
      "exclude": [
        ".git",
        ".rvmrc",
        "doc",
        "log",
        "tmp"
      ],

      "rsync_transport": "ssh" // or "anonymous"
    },
  },
  "originator_log_file": "log/gorgon-orginator.log",
  "runtime_file": "gorgon-runtime-file.json"
}
